:root {
    --brand: #107000;
    --text: #212121;
    --caption: #ffffff;
    --caption-bg: rgb(0, 0, 0, 0.5);
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--text);
}

.serif {
    font-family: 'Cardo', serif;
}

main {
    display: flex;
    align-items: stretch;
}

header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0px 30px #00000020;
    z-index: 10;
    min-width: 400px;
}

header .header-name {
    font-size: 44px;
}

header .header-name a {
    text-decoration: none;
    color: var(--text);
}

header .header-title {
    font-size: 28px;
    margin-bottom: 70px;
}

header nav {
    margin-bottom: 70px;
    width: 90%;
}

header nav span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

header nav a {
    color: var(--brand);
    letter-spacing: 2px;
    line-height: 2;
    text-transform: uppercase;
    text-decoration: none;
    transition: 200ms ease-in-out;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
}

header nav a:hover {
    border-color: var(--brand);
}

header .address span {
    display: block;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 2px;
}

section {
    height: 100vh;
    position: relative;
    text-align: center;
    background-repeat: repeat;
}

img {
    height: 100vh;
    object-fit: contain;
    vertical-align: middle;
}

section > span {
    position: absolute;
    bottom: 30px;
    transform: translate(-50%, 0%);
    left: 50%;
    text-align: center;
    color: var(--caption);
    line-height: 1.6;
    letter-spacing: 2px;
    padding: 5px;
    background-color: var(--caption-bg);
}